@model CIS174_TestCoreApp.Models.AutomobileViewModel

@{
    ViewData["Title"] = "Create Automobile";
}

<h2>Create Automobile</h2>

<form method="post" action="create">

    <div class="form-group-sm">
        <label asp-for="ModelYear"></label>
        <input class="input-sm" asp-for="ModelYear" />
        <span asp-validation-for="ModelYear"></span>
    </div>

    <div class="form-group-sm">
        <label asp-for="ModelName"></label>
        <input class="input-sm" asp-for="ModelName" />
        <span asp-validation-for="ModelName"></span>
    </div>

    <div>
        <label class="form-group-sm" asp-for="Manufacturer"></label>
        <select asp-for="Manufacturer" asp-items="Model.ManufacturerList">
            <option value="">-Please Select a Manufacturer-</option>
        </select>
    </div>

    <div class="form-group-sm">
        <label asp-for="Miles"></label>
        <input class="input-sm" asp-for="Miles" />
        <span asp-validation-for="Miles"></span>
    </div>
</form>

<a asp-area="" asp-controller="Automobile" asp-action="kmtomiles">Convert kilometers to miles</a>
